// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Import Font Family
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-header-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

//Body properties
$font-size: 14px;
$text-color: #111;
$body-background: #f9f9f9;

//Main colors
$brand-color: #3F51B5 !default;

$blue: #2196F3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #FF5722 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$cyan: #17a2b8 !default;

//Framework Colors
$primary: #3F51B5 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;


:root {
  --primary: #3F51B5;
  --outcome-color: #FF5722;
  --income-color: #2196F3;
  --green: #28a745;
  --red: #FF5722;
  --blue: #2196F3;
  --yellow: #ffc107;
}