.h {

    &__container {
        position: relative;
    }

    &__content {
        position: relative;
        min-height: 300px;

    }

    &__empty {
        img {
            max-width: 200px;
            margin: 10px auto;
            
        }
    }

}