.app {
    &__container {
      background: #fff;
      border-radius: 3px;
      max-width: 400px;
      margin: 0 auto;
      padding: 15px;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.01);
    }
  }