/*--------------------------------------
  [BG THEME]
--------------------------------------*/
.bg-primary {
  background: $primary !important;
  background-color: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
  background-color: $secondary !important;
}

.bg-success {
  background: $success !important;
  background-color: $success !important;
}

.bg-warning {
  background: $warning !important;
  background-color: $warning !important;
}

.bg-info {
  background: $info !important;
  background-color: $info !important;
}

.bg-danger {
  background: $danger !important;
  background-color: $danger !important;
}

.bg-black {
  background: $black !important;
  background-color: $black !important;
}

.bg-blue {
  background: $blue !important;
  background-color: $blue !important;
}

.bg-indigo {
  background: $indigo !important;
  background-color: $indigo !important;
}

.bg-purple {
  background: $purple !important;
  background-color: $purple !important;
}

.bg-red {
  background: $red !important;
  background-color: $red !important;
}

.bg-orange {
  background: $orange !important;
  background-color: $orange !important;
}

.bg-yellow {
  background: $yellow !important;
  background-color: $yellow !important;
}

.bg-green {
  background: $green !important;
  background-color: $green !important;
}

.bg-teal {
  background: $teal !important;
  background-color: $teal !important;
}

.bg-cyan {
  background: $cyan !important;
  background-color: $cyan !important;
}

.bg-white {
  background: $white !important;
  background-color: $white !important;
}

.bg-gray-100 {
  background: $gray-100 !important;
  background-color: $gray-100 !important;
}

.bg-gray-200 {
  background: $gray-200 !important;
  background-color: $gray-200 !important;
}

.bg-gray-300 {
  background: $gray-300 !important;
  background-color: $gray-300 !important;
}

.bg-gray-400 {
  background: $gray-400 !important;
  background-color: $gray-400 !important;
}

.bg-gray-500 {
  background: $gray-500 !important;
  background-color: $gray-500 !important;
}

.bg-gray-600 {
  background: $gray-600 !important;
  background-color: $gray-600 !important;
}

.bg-gray-700 {
  background: $gray-700 !important;
  background-color: $gray-700 !important;
}

.bg-gray-800 {
  background: $gray-800 !important;
  background-color: $gray-800 !important;
}

.bg-gray-900 {
  background: $gray-900 !important;
  background-color: $gray-900 !important;
}
