/*--------------------------------------
[BG THEME]
--------------------------------------*/
.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-success {
  color: $success !important;
}

.text-warning {
  color: $warning !important;
}

.text-info {
  color: $info !important;
}

.text-danger {
  color: $danger !important;
}

.text-black {
  color: $black !important;
}

.text-blue {
  color: $blue !important;
}

.text-indigo {
  color: $indigo !important;
}

.text-purple {
  color: $purple !important;
}

.text-red {
  color: $red !important;
}

.text-orange {
  color: $orange !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-green {
  color: $green !important;
}

.text-teal {
  color: $teal !important;
}

.text-cyan {
  color: $cyan !important;
}

.text-white {
  color: $white !important;
}

.text-gray-100 {
  color: $gray-100 !important;
}

.text-gray-200 {
  color: $gray-200 !important;
}

.text-gray-300 {
  color: $gray-300 !important;
}

.text-gray-400 {
  color: $gray-400 !important;
}

.text-gray-500 {
  color: $gray-500 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-gray-700 {
  color: $gray-700 !important;
}

.text-gray-800 {
  color: $gray-800 !important;
}

.text-gray-900 {
  color: $gray-900 !important;
}
