/* Font weights */
.font-weight-bold {
  font-weight: bold !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-normal {
  font-weight: normal !important;
}

/* Font styles */
.font-style-unset {
  font-style: unset !important;
}

.font-style-normal {
  font-style: normal !important;
}

.font-style-italic {
  font-style: italic !important;
}

.font-style-inherit {
  font-style: inherit !important;
}

/* Text styles */
.text-unset {
  text-transform: unset !important;
}
.text-transform-initial {
  text-transform: initial !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
